@font-face {
  font-family: 'Caveat-VariableFont_wght';
  src: local('Caveat-VariableFont_wght'), 
       url('./assets/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'perpetua-titling-mt-light';
  src: local('perpetua-titling-mt-light'), 
       url('./assets/perpetua-titling-mt-light.ttf') format('truetype');
}

body {
  font-family: 'perpetua-titling-mt-light';
  background-color: beige;
}

.sanch {
  font-family: Sanchez;
}


#home {
  background-image: url('./assets/images/home-page/home-page-desktop2.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove any default margin */
}

#quote {
  background-color: rgb(129,139,126)
}


@media only screen and (max-width: 896px) and (orientation: landscape) {
  #sec1 .content-wrapper {
    margin-top: -60px; /* Adjust the value as needed */
  }
}

#testimonial-p {
  font-family: "Caveat-VariableFont_wght", Arial, Helvetica, sans-serif;
}

